server: #톰켓설정
  port: 8000
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    
spring: #뷰리졸버
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp

  jackson:
    serialization:
      fail-on-empty-beans: false